footer{
    padding:1rem 0 1rem 0 ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.social{
    display: flex;
    justify-content: space-between;
    text-align: center;
   padding:0.5rem;
}

.social-text{
    padding-bottom:0.5rem;
}

.social ul{
    padding-bottom:0.5rem;
    display: flex;
    justify-content: center;;
}

.social ul li {
    padding-right:1rem;
}

.footer-links{
    background-color: #1C2331;
    color:whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    opacity:0.9;
    justify-items: center;
    padding: 2rem 15rem 2rem 15rem;
}

.footer-links div{
    text-align: center;
}
.footer-links div h6{
    font-size: 1em;
}
.footer-links div hr{
    width:7rem;
    border-color:#7c4dff;
    margin: 0 auto 1rem auto;
}

.footer-links div p{
    padding:1rem;
    font-size: 0.8em;
}

footer .copyright{
    padding:0.5rem;
    text-align: center;
    font-size: 0.8em;
}

@media only screen and (max-width:1024px){
    .footer-links{
        padding: 2rem 7.5rem 2rem 7.5rem;
    }
}

@media only screen and (max-width:768px){
    .social{
        flex-direction: column;
    }
    .footer-links div p{
        padding: 0.1rem;
    }

    .footer-links{
        grid-template-columns: 1fr ;
        padding: 2rem 4.5rem 2rem 4.5rem;
    }
}