.bar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bar-item{
    width:70%;
    margin: 0 auto;
}
.bar-item p{
   padding:1rem;
}
.bar-images-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img.bar-image{
    max-width:20%;
    height:15rem;
    padding:1rem;
    box-shadow: silver 2px 2px 2px 2px;

}

@media only screen and (max-width:1024px){
    img.bar-image{
        max-width:45%;
    }
}

@media only screen and (max-width:768px){
    img.bar-image{
        max-width:75%;
    }
}

@media only screen and (max-width:430px){
    img.bar-image{
        height:10rem;
    }
}