.room-wrapper{
    width: 55vw;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.room-wrapper p{
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}
.room-wrapper img.item-image{
   width: 100%;
}

.images-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.images-wrapper img{
    max-width:24%;
    height:9rem;
}

@media only screen and (max-width:768px){
    .room-wrapper{
        width: 75vw;
    }
    .images-wrapper img{
        max-width:24%;
        height:6rem;
    }
    
}
