.articles-container{
    padding:1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.articles-container button{
    border-radius: 5px;
}
.admin-item{
    padding:1rem;
    box-shadow: silver 1px 1px 1px 1px;
    margin-bottom: 1rem;
}

.button.danger{
    background-color: coral;
}

.button.success{
    background-color: dodgerblue;
}
.button.edit{
    background-color: yellowgreen;
}

input.admin-input{
    height:1.3rem;
    padding:1rem;
    border-radius:5px;
    width:100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.admin-input{
    overflow-wrap: break-word;
}
textarea.admin-input{
    margin-bottom: 1rem;
    border-radius:5px;
    width:100%;
    min-height: 10rem;
}

.admin-item .main-image , .img-upload .main-image{
    height: 25rem;
    max-width: 100%;
    width:100%;
}

.admin-item .images-wrapper{
    display: flex;
    flex-wrap:wrap;
}

.admin-item .images-wrapper img {
    width:10rem;
    height:6rem;
}

@media only screen and (max-width:768px){
    .admin-item{
        max-width:75%;
    }

    .admin-item .main-image{
        height: 15rem;
    }
}