.form-container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    /* min-height: 50vh; */
    padding: 3rem;

}

.form-container form{
    display: flex;
    flex-direction: column;
    width:30%;
}
 
.form-container form input , .form-container form textarea{
    border-radius: 5px;
    height:2rem;
    padding:0.3rem;
    margin:0.5rem;
    box-shadow: black 2px 2px 2px 2px;
}

.button{
    padding:1rem;
    color:whitesmoke;
}


@media only screen and (max-width:1024px){
    .form-container form{
        width:70%;
    }
} 

@media only screen and (max-width:430px){
    .form-container form{
        width:100%;
    }
}