section{
    min-height: inherit;
}
.admin-container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    min-height:inherit
}
.admin-nav li{
    padding:1rem;
}

.admin-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}