.dropdown-wrapper{
    border:1px solid silver;
    border-radius: 4px;
}
.dropdown-wrapper ul{
    max-height:15rem;
    width:100%;
    overflow-x: hidden;
    padding-left:0;
}
li.dropdown-item.dropdown{
    border:1px solid silver;
    text-align: start;
    border-radius: 4px;
}

li.dropdown-item.dropdown .flex , .dropdown-item.dropdown.flex{
     display:flex;
     justify-content: space-between;
}

img.dropdown-image{
    max-width: 2rem;
    max-height:1.5rem;
}

.dropdown i{
    position: absolute;
    top: 25%;
    left: 2%;
    z-index:100;
}