.main-wrapper{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
:local(.backgroundColor){
    background-color: #F1F0FF; 
}

:local(.backgroundImage::before){
    content: "" ;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background:url(https://s3-us-west-2.amazonaws.com/moshe-websites/larena/images/nexpa1.jpg) no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
}