
*{
  margin:0 ;
  padding :0 ;
  list-style-type: none;
  text-decoration: none;
}
.blueviolet{
  background-color: #6351CE;
  opacity: 0.8;
  color:whitesmoke;
}
.blueviolet a{
  color:whitesmoke;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

