
header nav {
  display: flex;
  justify-content: space-between;
  padding:1rem;
  font-weight: 300;
}

a.brand{
  font-size: 1.25em;
}
header nav li{
  font-size:1em;
  line-height:1.8;
}

nav.show , nav.hide{
  transition: all 0.8s ease-in-out;
}
nav.show ul , nav.hide ul{
  width:100%;
}
nav.show ul li, nav.hide ul li {
  text-align: center;
}
nav.show {
  opacity:0.9; 
  max-height: 25rem;
  transform: scaleY(1);
}

nav.hide{
  max-height: 0;
  opacity:0;
  transform: scaleY(0);
  padding-top :0;
  padding-bottom:0 ;
}
header nav div{
  display:flex;
}
header nav div ul{
  display:flex;
}
ul li{
  padding-left:1rem;
}

select{
  background: transparent;
  border:none;
  color:whitesmoke;
} 

.navbar-toggler {
    display: none;
    border: none;
    background: transparent !important;
  }
  .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
  }
.navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
  }
  
  .navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(270deg) translate(-8px, 4px);
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(360deg) translate(4px, -4px);
    transition: ease all .2s;
  }

  .navbar-toggler.collapsed {
    border:none;
    animation:  toggler-spin infinite 15s linear;
  }

  @keyframes toggler-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media only screen and (min-width:1024px){
    nav.show {
      display: none;
    }
  }
  @media only screen and (max-width:1024px){
    .navbar-toggler{
      display: inline-block;
    }
    
    ul.nav-collapsed{
      display: none;
    }
  }
  