
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 80vw;
    margin: 0 auto;
}

.column{
    padding:1rem;
}

@media only screen and (max-width:1024px){
    .flex-container{
        flex-direction: column;
    }
}